body{
    margin: 20%;
}

.collection-btn{
    display: flex;
    justify-content: space-around;
}

/* first btn */

.btn{
    padding: 16px 48px;
    background: none;
    border: 1px solid #797979;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
    transition: all 0.3s;
}

.btn:hover{
    box-shadow: 0 0 0 5px #fff,0 0 0 10px #595eac;
    border: 2px solid #595eac;
    transform: scale(0.9);
    color: #595eac;
}

/* second btn */

.btn-1{
    position: relative;
    padding: 16px 48px;
    border: 1px solid #595eac;
    background: none;

    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
    transition: all 1s;
}

.btn-1::before, .btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #595eac;
    top:0;
    left: 0;
    transition: clip-path 0.5s;
    z-index: -1;
}
.btn-1::before{clip-path:circle(0 at 0 0 );}
.btn-1::after{clip-path:circle(0 at 100% 100% );}
.btn-1:hover{color: #ffffff !important; z-index: 2;}
.btn-1:hover::before{clip-path:circle(100% at 0 0 );}
.btn-1:hover::after{clip-path:circle(100% at 100% 100% );}


/* third btn */

.btn-2{
    position: relative;
    padding: 16px 48px;
    background: none;
    border: 1px solid #797979;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
    transition: color 0.3s ease-in-out;
}

.btn-2::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #595eac;
    top:0;
    left: 0;
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

.btn-2:hover::before{
    width: 100%;
}
.btn-2:hover{
    color: #fff;
}

/* fouth btn */

.btn-3{
    position: relative;
    padding: 16px 48px;
    background: none;
    border: 1px solid #797979;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
    transition: all 0.3s ;
}
.btn-3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #595eac;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
}

.btn-3:hover::before{
    transform: scaleY(1);
    transform-origin: bottom;


}
.btn-3:hover{
    color: #fff;
}


/* last btn */

.btn-4{
    position: relative;
    padding: 10px 48px;
    height: 50px;
    background-color: none;
    border:1px solid #797979;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
    transition: all 0.3s;
    margin-top: 4px;
    background: none;
}

.btn-4:hover{
    background: #595eac;
    box-shadow: 0 0 5px #595eac,
                0 0 25px #595eac,
                0 0 50px #595eac,
                0 0 200px #595eac;
    color: white;            
}